<h1>About me</h1>

<p><strong>I am a devoted Software Analyst, Developer and Data Analyst, it's my passion making the best systems possible, with the most appropiate tools for each case. I have experience with requirements gathering, analysis, design, development and testing of software solutions. My main areas of knowledge are Data Mining, BI and Web development.</strong></p>

<p>You can find me at:</p>
<ul>
<li>Github: <a target="_blank" href="https://github.com/Sicarul">https://github.com/Sicarul</a></li>
<li>E-Mail: <a href="mailto:pabloseibelt@gmail.com">pabloseibelt@gmail.com</a></li>
<li>Twitter: <a target="_blank" href="https://twitter.com/Sicarul">@Sicarul</a></li>
</ul>